
\.idea/

deepnotakto/\.ipynb_checkpoints/

deepnotakto/__pycache__/

*.pyc

*.ABEOLIVER

*.npz

deepnotakto/agents/perfect/3\.txt

deepnotakto/agents/perfect/5\.txt

deepnotakto/Tree_4\.tree

deepnotakto/agents/\.ipynb_checkpoints/

deepnotakto/agents/saves/

deepnotakto/tensorboard/

deepnotakto/death/

deepnotakto/local_tests\.py
